.repo-page__r1 {
  padding-top: $spacing-05;
  padding-bottom: $spacing-05;
}

.landing-page__heading {
  text-align: center;
}

.common-margin {
  margin-bottom: 30px;
  margin-top: 30px;
}

.full-width {
  width: 100% !important;
}